@import "tailwindcss";

:root {
  --background: #08090e;
  --foreground: #d6deed;
  --dark-gray: #f7faff1a;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-sfPro: var(--font-sfPro);
  --font-open-sans: var(--font-open-sans);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #08090e;
    --foreground: #d6deed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.big-circle {
  box-shadow:
    0 -40px 90px 30px rgba(43, 37, 171, 0.6), /* strong top glow */
    0 20px 20px 2px rgba(43, 37, 171, 0.2);  /* thin bottom glow */
}

